  .canteenCard {
      position: relative;
      height: 100px;
      background-color: white;
      width: 100%;
      font-size: 14px;
      margin: 10px 0px;
      padding-top: 5px;
  }


  .canteenCard .imageblock {
      margin-left: 12px;
      height: 90px;
      width: 120px;
      display: block;
      background-color: #BAEFBA;
      float: left;
  }

  .canteenCard .canteenInfo {
      margin-left: 8px;
      height: 90px;
      width: 60%;
      background-color: #ffffff;
      vertical-align: middle;
      float: left;
  }

  .canteenCard .canteenInfo * {
      font-size: 14px;
      line-height: 1.5em;
      margin-top: 15px;
  }